{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'it_friendly/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'it_friendly/images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="{%  static 'it_friendly/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  <title>Зміна паролю</title>
</head>
<style>
    .email-input {
        text-align: left;
        display: flex;
        height: 40px;
        border-radius: 5px;
        width: 100%;
        font-size: 20px;
        border-width: 1px;
        padding-left: 5px;
    }
</style>
<body>
 <section id="passwordreset" class="passwordreset login modal__window">
      <div class="container">
          <div class="log-in">
            <button class="close-button">X</button>
            <h2>Відновлення паролю</h2>
            <form method="POST" action="{% url 'password_reset' %}">
                {% csrf_token %}
                {{ form.email.label_tag }}
                <label for="{{ form.email.id_for_label }}"></label>
                <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="email-input">
                <p></p>
                <button type="submit" class="choose-course">Відправити</button>
            </form>
          </div>
      </div>
    </section>
</body>
<script>
    const passwordResetWindow = document.getElementById('passwordreset');
    passwordResetWindow.style.display = 'block';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src={% static 'it_friendly/js/main.js' %}></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</html>