{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'it_friendly/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'it_friendly/images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="{%  static 'it_friendly/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  <title>Зміна паролю</title>
</head>
<body>
 <section id="passwordresetdone" class="passwordresetdone login modal__window">
      <div class="container">
          <div class="log-in">
            <h2>На дану електронну пошту був відправлений лист з інструкціями щодо зміни паролю. Ви одразу його отримаєте, якщо акаунт з введеним email існує</h2>
              <p>(можете закрити дану сторінку)</p>
          </div>
      </div>
    </section>
</body>
<script>
    const passwordResetWindow = document.getElementById('passwordresetdone');
    passwordResetWindow.style.display = 'block';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src={% static 'it_friendly/js/main.js' %}></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</html>