{% extends 'it_friendly/base.html' %}
{% load static %}

{% block title %}Наша команда{% endblock %}

{% block main %}
    <section class="team_slide_1">
        <div class="container">
            <div>
                <h1>Наша команда</h1>
            </div>
            <h3>Понад 50 спеціалістів з усіх куточків України</h3>
            <p>Scroll down</p>
            <img src="{% static 'it_friendly/images/team/arrow.png' %}" alt="">
        </div>
    </section>
    <section class="team_slide_2">
        <div class="container">
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/olga_zasnovnycia.jpg' %}" alt="">
                <p class="name">Ольга</p>
                <p>Засновниця IT-friendly</p>
            </div>
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/margaryta_pr.jpg' %}" alt="">
                <p class="name">Маргарита</p>
                <p>PR-менеджер</p>
            </div>
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/oleg_web_developer.jpg' %}" alt="">
                <p class="name">Олег</p>
                <p>Веб-розробник</p>
            </div>
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/pavlo_middle_java_dev.jpg' %}" alt="">
                <p class="name">Павло</p>
                <p>Middle Java-розробник</p>
            </div>
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/myroslava_middle_flutter_dev.jpg' %}" alt="">
                <p class="name">Мирослава</p>
                <p>Middle Flutter-розробник</p>
            </div>
            <div class="team-member">
                <img src="{% static 'it_friendly/images/team/volodymyr_ui_designer.jpg' %}" alt="">
                <p class="name">Володимир</p>
                <p>UI-дизайнер</p>
            </div>

        </div>
    </section>
{% endblock %}