{% extends 'it_friendly/base.html' %}
{% load static %}

{% block title %}Наша команда{% endblock %}

{% block main %}
    <section class="team_slide_1">
        <div class="container">
            <div>
                <h1>Наша команда</h1>
            </div>
            <h3>Понад 50 спеціалістів з усіх куточків України</h3>
            <p>Scroll down</p>
            <img src="{% static 'it_friendly/images/team/arrow.png' %}" alt="">
        </div>
    </section>
    <section class="team_slide_2">
        <div class="container">
            {% for member in team %}
            <div class="team-member">
            <img src="{% static member.image %}" alt="">
                <p class="name">{{ member.name }}</p>
                <p>{{ member.duties }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}